{% extends 'base.html.twig' %}
{% block title %}
    Auth
{% endblock %}

{#

TODO: make design like - https://github.com/signup?ref_cta=Sign+up&ref_loc=header+logged+out&ref_page=%2F&source=header-home

#}
{% block header %}
{% endblock %}
{% block body %}
    <div class="auth-bg" style="background-image: url('/images/auth-bg.png')"></div>
    <div class="auth-block">
        <div class="auth-block__wrap">
            <div class="auth-block__title">
                <h3>Sing in</h3>
            </div>
                {{ form_start(form) }}
                <div class="form-floating mb-3">
                    {{ form_widget(form.email) }}
                    <label for="floatingInput">Email</label>
                </div>
                <div class="form-floating mb-3">
                    {{ form_widget(form.password) }}
                    <label for="floatingInput">Password</label>
                </div>
                {{ form_end(form) }}
            <div class="auth-block-redirect_button"><a href="{{ path('app_login') }}">Have an account?</a></div>
        </div>
    </div>
{% endblock %}