<style>
    .post {
        padding: 15px;
        margin-top: 10px;
    }

    .post-header {
        justify-content: flex-start;
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    .user-info {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }

    .user-info img {
        width: 30px;
        height: 30px;
        margin-right: 10px;
    }

    .post-title {
        margin: 10px 0;
        font-size: 24px;
    }

    .post-date {
        margin-bottom: 10px;
        color: #999;
    }

    .post-content p {
        font-size: 16px;
        line-height: 1.5;
    }

    .post-files {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 10px;
    }

    .file,
    .image {
        margin-bottom: 10px;
        font-size: 14px;
    }

    .file-extension {
        color: #999;
        margin-left: 5px;
    }

    .image img {
        max-width: 100%;
        height: auto;
    }
    .post-actions{
        margin-top: 10px;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .post-action {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        border: none;
        cursor: pointer;
        font-size: 16px;
        color: #555;
    }

    .post-action:hover {
        color: #333;
    }

    .icon-like:before {
        content: "\f004";
        font-weight: 400;
        font-family: "Font Awesome 5 Free";
    }

    .icon-unlike:before {
        content: "\f004";
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
    }

    .icon-comment:before {
        content: "\f27a";
        font-family: "Font Awesome 5 Free";
    }

    .icon-share:before {
        content: "\f064";
        font-family: "Font Awesome 5 Free";
    }

    .post-action-count{
        margin-left: 7px;
    }
</style>
<div class="post homepage-item">
    <div class="post-header">
        <div class="user-info">
            <img src="images/account.svg">
            <div class="user-info_values">
                <div class="username">{{ post.userId.email }}</div>
                <div class="post-date" id="{{ post.id }}"></div>
            </div>
        </div>
    </div>
    <div class="post-content">
        <h2 class="post-title">{{ post.title }}</h2>
        <p>{{ post.contentText }}</p>
    </div>
    <div class="post-files">
        <div class="post-files_images">
            {# TODO: remake this wonderful thing #}
            {% for file in post.files %}
                {% if file.getExtension() == 'jpg' or file.getExtension() == 'jpeg' or file.getExtension() == 'png' or file.getExtension() == 'gif' %}
                    <div class="image">
                        <img src="{{ asset('uploads/' ~ file.name) }}" alt="{{ file.name }}">
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="post-files_other">
            {% for file in post.files %}
                {% if file.getExtension() != 'jpg' and file.getExtension() != 'jpeg' and file.getExtension() != 'png' or file.getExtension() != 'gif' %}
                    <div class="file">
                        <a href="{{ asset('uploads/' ~ file.name) }}" download>{{ file.name }}</a>
                        <span class="file-extension">{{ file.getExtension() }}</span>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="post-actions">
        <button class="post-action like" onclick="toggleLike(event)">
            <span class="icon-like"></span>
            <span class="like-count post-action-count">{{ post.likes|length }}</span>
        </button>
        <button class="post-action comment">
            <span class="icon-comment"></span>
            <span class="comment-count post-action-count">{{ post.comments|length }}</span>
        </button>
        <button class="post-action share">
            <span class="icon-share post-action-count" ></span>
            <span>Share</span>
        </button>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script>

    postDate = document.getElementById('{{ post.id }}')
    postDate.innerHTML = getFormattedDate('{{ post.createdAt|date("j F Y, H:i") }}')

    function getFormattedDate(date) {
        const momentDate = moment(date);
        const now = moment();

        if (now.diff(momentDate, 'days') < 7) {
            return momentDate.fromNow();
        }

        return momentDate.format('MMMM Do YYYY, h:mm:ss a');
    }

    function toggleLike(event) {
        const button = event.currentTarget;
        const likeCount = button.querySelector('.like-count');
        const icon = button.querySelector('span');
        const postId = {{ post.id }};
        event.preventDefault();
        console.log(icon);
        if (icon.classList.contains('icon-like')) {
            icon.classList.remove('icon-like');
            icon.classList.add('icon-unlike');
            likeCount.textContent = parseInt(likeCount.textContent) + 1;
            console.log("LIKE")
            // Отправить запрос на сервер для добавления лайка
        } else {
            icon.classList.remove('icon-unlike');
            icon.classList.add('icon-like');
            likeCount.textContent = parseInt(likeCount.textContent) - 1;
            console.log("UNLIKE")
            // Отправить запрос на сервер для удаления лайка
        }
    }
</script>